@page
@model PersonsModel
@{ ViewData["Title"] = "Persons"; }

<form method="post" asp-page="Persons">

	<collapsible title="Filters">
		<div class="row">
			<input filter-name="First Name" asp-for="Filter.FirstName" />
			<input filter-name="Last Name" asp-for="Filter.LastName" />
			<div class="col-2"><button class="btn btn-primary w-100 filter-button" type="submit" asp-page-handler="">Apply</button></div>
		</div>
	</collapsible>

	<partial name="TableWithPagination" model="Model"/>

</form>
